{include file='header.htm'}
<link type="text/css" rel="stylesheet" href="css/orderindex.css">
<div class="main order-main" align="left">
    <span>{$showerrorinfo}</span>
    <table cellpadding='0' cellspacing='0' width='100%' border='0' class='list view'>
	  <tr>
		<td width="65%"> 
			<table border='0' cellpadding='0' cellspacing='0' width='100%' class='paginationTable'>
				<tr>
					<td nowrap="nowrap" class='paginationActionButtons'>
            <form id="aliexpressLoadForm" name="aliexpressLoadForm" action="index.php?mod=underLineOrderImport&act=guoneiSaleImport" enctype="multipart/form-data" title="国内销售部订单导入" method="post">
						<table border="0"  cellpadding="10" cellspacing="1" bgcolor="#c0ccdd" id="content">
  							<tr>
    							<td>选择帐号:</td>
    							<td>
                  <select name="aliexpressAccount" id="aliexpressAccount">   
                    <option value="">请选择导入帐号</option>
                    {foreach key=key_id item=list from=$aliexpressAccountList}                          
                    <option value="{$list.account}">{$list.account}</option>
                    {/foreach}
                  </select>
                  </td>
    							<td>&nbsp;</td>
                  <td>&nbsp;</td>
  							</tr>
                <tr>
                    <td>上传文件:</td>
                    <td><input name="aliexpressFile" type="file" /></td>
                    <td>&nbsp;</td>
                    <td><button id="aliexpressIn" name="aliexpressIn" type="submit"/>更新</button></td>
                </tr>
  						</table>
                    </form>
					  <p>
                      	<br />
				    	订单导入模板下载:<a href="" target="_blank">下载</a><br />
					  </p>
					  <p>&nbsp;</p>
					  <p><br /></p>
                   </td>
			    </tr>
			</table>		
         </td>
	</tr>
</table>
</div>
{include file='footer.htm'}