<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$toptitle}--订单系统</title>

<script type="text/javascript" src="http://misc.erp.valsun.cn/js/jquery-1.8.3.min.js"></script>
<link href="http://misc.erp.valsun.cn/css/style.css" rel="stylesheet" type="text/css" />
<link href="http://misc.erp.valsun.cn/css/page.css" rel="stylesheet" type="text/css" />

<script src="http://api.notice.valsun.cn/js/swJsNotice.js" type="text/javascript"></script>
<script src="http://misc.erp.valsun.cn/js/global.js" type="text/javascript"></script>

<link rel="stylesheet" href="./js/jquery/css/ui-lightness/jquery-ui-1.9.2.custom.min.css" />
<link rel="stylesheet" media="all" href="./js/jquery/css/ui-lightness/jquery-ui-timepicker-addon.css" />
<link rel="stylesheet" href="./css/alertify/alertify.core.css" />
<link rel="stylesheet" href="./css/alertify/alertify.default.css" />
<link rel="stylesheet" href="./css/flexselect.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="./css/validationEngine/validationEngine.jquery.css" />

<script type="text/javascript" src="./js/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery-ui.min.js"></script>
<script src="./js/validationEngine/languages/jquery.validationEngine-zh_CN.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/validationEngine/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="./js/alertify/alertify.min.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery-ui-sliderAccess.js"></script>
<script type="text/javascript" src="./js/datetimepicker.js"></script>
<script type="text/javascript" src="./js/My97DatePicker/WdatePicker.js"></script>

</head>
<body id="toppage"  class="order-body">
	<div class="container container_wh">
    	<div class="content">
        	<div class="header">
            	<div class="logo">
                	订单系统
                </div>
                <div class="onevar">
                	<ul>
                    	<li>
                        	<a href="index.php?mod=orderindex&act=getOrderList&ostatus=100&otype=101" class="cental {if $toplevel === 0}cho{/if}">订单中心</a>
                        </li>
                        <!--li>
                        	<a href="#" style="padding:51px 7px 7px 7px;" class="personal {if $toplevel === 1}cho{/if}">个人待处理</a>
                        </li-->
                        <li>
                        	<a href="index.php?mod=orderAdd&act=addOrder" class="writein {if $toplevel === 2}cho{/if}">订单录入</a>
                        </li>
                        <li>
                            <a href="index.php?mod=exportXls&act=index" class="suppliermanage cental {if $toplevel === 5}cho{/if}">报表导出</a>
                        </li>
                        <li>
                        	<a href="index.php?mod=omPlatform&act=getOmPlatformList" class="setup {if $toplevel === 3}cho{/if}">系统设置</a>
                        </li>
						<li>
                        	<a href="index.php?mod=user&act=index" class="usersetup {if in_array($mod,array('user','job','dept'))}cho{/if}">授权管理</a>
                        </li>
                    </ul>
                </div>
                <div class="user">
                	<a class="news-img" href="javascript:javascript:void(0)" onclick="swntc_call('{$_username}')">消息</a>
                	<input id='swNoticeUrl' type='hidden'  value='index.php?mod=notice&act=sendMessage'/>
					<a href="javascript:void(0)">{$_username}</a>
                    <a href="index.php?mod=public&act=logout" style="background: none; font-size: 14px;">退出</a>
                </div>
            </div>
            <div class="twovar">
            	<ul>
					{if $toplevel == 0}
					{foreach from=$ostatusList item=list}
						{if $list.statusCode==660}
							<li>
								<a href="index.php?mod=orderRefund&act=orderRefundList&ostatus=660&status=0" {if $ostatus == $list.statusCode}class="cho"{/if}>{$list.statusName}（<span>{$refund_total}</span>）</a>
							</li>
                        {elseif $list.statusCode==770}
							<li>
								<a href="index.php?mod=AbnormalStock&act=abnormalStockList" {if $ostatus == $list.statusCode}class="cho"{/if}>{$list.statusName}（<span>{$abnormal_total}</span>）</a>
							</li>
						{else}
							<li>
								<a href="index.php?mod=orderindex&act=getOrderList&ostatus={$list.statusCode}&otype={$second_type[$list.statusCode]}" {if $ostatus == $list.statusCode}class="cho"{/if}>{$list.statusName}<!--（<span>{$second_count[$list.statusCode]}</span>）--></a>
							</li>
						{/if}
					{/foreach}
                	
					{elseif $toplevel == 1}
					{elseif $toplevel == 2}
					<li>
                    	<a href="index.php?mod=orderAdd&act=addOrder" {if $secondlevel == '21'}class="cho"{/if}>订单添加</a>
                    </li>
                    <li>
                    	<a href="index.php?mod=missingOrderAdd&act=addMissingOrder" {if $secondlevel == '280'}class="cho"{/if}>漏单添加</a>
                    </li>
                    <li>
                    	<a href="index.php?mod=underLineOrderImport&act=importOrder" {if $secondlevel == '22'}class="cho"{/if}>国内通用订单导入</a>
                    </li>
                    <li>
                    	<a href="index.php?mod=underLineOrderImport&act=aliexpressimport" {if $secondlevel == '24'}class="cho"{/if}>速卖通订单导入</a>
                    </li>
                    <li>
                    	<a href="index.php?mod=underLineOrderImport&act=aliexpressUnderline" {if $secondlevel == '25'}class="cho"{/if}>速卖通线下订单导入</a>
                    </li>
                    <li>
                    	<a href="index.php?mod=underLineOrderImport&act=dhgate" {if $secondlevel == '26'}class="cho"{/if}>敦煌订单导入</a>
                    </li>
                    <li>
                        <a href="index.php?mod=underLineOrderImport&act=trustImport" {if $secondlevel == '29'}class="cho"{/if}>诚信通订单导入</a>
                    </li>
                    <li>
                    	<a href="#" {if $secondlevel == '27'}class="cho"{/if}>同步异常订单导入</a>
                    </li>
					<li>
                    	<a href="index.php?mod=orderTranUps&act=index" {if $secondlevel == '29'}class="cho"{/if}>UPS美国专线跟踪号导入</a>
                    </li>
					<li>
                    	<a href="index.php?mod=underLineOrderImport&act=dresslinkOrderImport" {if $secondlevel == '210'}class="cho"{/if}>独立商城导入</a>
                    </li>
                    <li>
                        <a href="index.php?mod=underLineOrderImport&act=guoneiSaleImport" {if $secondlevel == '220'}class="cho"{/if}>国内销售部订单导入</a>
                    </li>

					{elseif $toplevel == 3}
					<li>
                    	<a href="index.php?mod=omPlatform&act=getOmPlatformList" {if $secondlevel == '31'}class="cho"{/if}>平台管理</a>
                    </li>
                    <li>
                    	<a href="index.php?mod=omAccount&act=getAccountList" {if $secondlevel == '32'}class="cho"{/if}>平台账号</a>
                    </li>
                    <li>
                    	<a href="index.php?act=paypalEmail&mod=paypalEmail" {if $secondlevel == '33'}class="cho"{/if}>Paypal付款邮箱</a>
                    </li>
                    <li>
                    	<a href="index.php?mod=omBlackList&act=getOmBlackList" {if $secondlevel == '34'}class="cho"{/if}>平台黑名单</a>
                    </li>
					<!--li>
                    	<a href="index.php?mod=orderSetting&act=property" {if $secondlevel == '36'}class="cho"{/if}>订单属性</a>
                    </li-->
                    <!--<li>
                    	<a href="#" {if $secondlevel == '37'}class="cho"{/if}>权限管理</a>
                    </li>-->
					<li>
                    	<a href="index.php?mod=currency&act=currency" {if $secondlevel == '38'}class="cho"{/if}>汇率管理</a>
                    </li>
					<li>
                    	<a href="index.php?mod=StatusMenu&act=statusMenu" {if $secondlevel == '39'}class="cho"{/if}>订单流程</a>
                    </li>
                     <li>
                    	<a href="index.php?mod=orderOperationLog&act=orderOperationLogList" {if $secondlevel == '40'}class="cho"{/if}>订单操作日志查询</a>
                    </li>
					<li>
                    	<a href="index.php?mod=orderWarehouseRecord&act=orderWarehouseRecordList" {if $secondlevel == '41'}class="cho"{/if}>订单配货记录查询</a>
                    </li>
                    {elseif $toplevel == 5}
                    <li>
                        <a href="index.php?mod=exportXls&act=index" class="cho">报表导出</a>
                    </li>
					{/if}
					
					{if in_array($mod,array('user','job','dept'))}
                    <li><a href="index.php?mod=user&act=index" {if $act=='index' && $mod=='user'}class="cho"{/if}>用户管理</a></li>
					<li><a href="index.php?mod=job&act=index" {if $act=='index' && $mod=='job'}class="cho"{/if}>岗位管理</a></li>
					<li><a href="index.php?mod=dept&act=index" {if $act=='index' && $mod=='dept'}class="cho"{/if}>部门管理</a></li>
					{/if}
                </ul>
            </div>
			{if ($threelevel == '1' && !empty($otype)) || $ostatus==660}
		    <div class="threevar order-minwidth">
            	<ul>
					{if $ostatus==660}
                        {foreach from=$o_threelevel item=list}
                            <li>
                                <a href="index.php?mod=orderRefund&act=orderRefundList&ostatus={$ostatus}&otype={$list.statusCode}&{$extral_str[$list.statusCode]}" {if $otype == $list.statusCode}class="cho"{/if}>{$list.statusName}（<span>{$three_count[$list.statusCode]}</span>）</a>
                            </li>
						
						{/foreach}
						<!--<li>
							<a href="index.php?mod=orderRefund&act=orderRefundList&ostatus=660&status=0&orderType=1" {if $status == '0'}class="cho"{/if}>paypal退款待处理（<span>{$refund_one}</span>）</a>
						</li>
						<li>
							<a href="index.php?mod=orderRefund&act=orderRefundList&ostatus=660&status=1&orderType=1" {if $status == 1}class="cho"{/if}>paypal已退款（<span>{$refund_two}</span>）</a>
						</li>
						<li>
							<a href="index.php?mod=orderRefund&act=orderRefundList&ostatus=660&status=2&orderType=1" {if $status == 2}class="cho"{/if}>paypal已取消退款（<span>{$refund_three}</span>）</a>
						</li>
                        <li>
							<a href="index.php?mod=orderRefund&act=orderRefundList&ostatus=660&status=0&orderType=2" {if $status == 1}class="cho"{/if}>手工退款待处理（<span>{$refund_two}</span>）</a>
						</li>
						<li>
							<a href="index.php?mod=orderRefund&act=orderRefundList&ostatus=660&status=1&orderType=2" {if $status == 2}class="cho"{/if}>手工已退款（<span>{$refund_three}</span>）</a>
						</li>
                        <li>
							<a href="index.php?mod=orderRefund&act=orderRefundList&ostatus=660&status=2&orderType=2" {if $status == 2}class="cho"{/if}>手工已取消退款（<span>{$refund_three}</span>）</a>
						</li>
                        <li>
							<a href="index.php?mod=orderRefund&act=orderRefundList&ostatus=660&status=0&orderType=3" {if $status == 2}class="cho"{/if}>CASE待处理（<span>{$refund_three}</span>）</a>
						</li>
                        <li>
							<a href="index.php?mod=orderRefund&act=orderRefundList&ostatus=660&status=1&orderType=3" {if $status == 2}class="cho"{/if}>CASE已处理（<span>{$refund_three}</span>）</a>
						</li>-->
					{else}
						{foreach from=$o_threelevel item=list}
								<li>
									<a href="index.php?mod=orderindex&act=getOrderList&ostatus={$ostatus}&otype={$list.statusCode}" {if $otype == $list.statusCode}class="cho"{/if}>{$list.statusName}（<span>{$three_count[$list.statusCode]}</span>）</a>
								</li>
						
						{/foreach}
					{/if}
                </ul>
            </div>
			{/if}
            