{include file='header.htm'}
{include file='omNav.htm'}
<script language="javascript" src="js/statusMenu.js"></script>

<div class="servar">
   <span>
		<button  id='addMenu' value="" />新增流程</button>
   </span>
   <br>
   <div id="mess"><span style="color:red;font-size:20px">{$state}<span></div>
</div>
<div class="main">
	<table cellspacing="0" width="100%" id="nowtable">
		<tr class="title">
			<td>id</td>
			<td>状态名称</td>
			<td>入库状态码</td>
			<td>所属分组</td>
			<td>排序</td>
			<td>备注</td>
			<td>操作</td>
		</tr>
		{if !empty($menu)}
		{foreach from=$menu item=list}
		<tr class="odd" id="{$list.id}">
				<td>{$list.id}</td>
				<td>{$list.statusName}</td>
				<td>{$list.statusCode}</td>
				<td>{$group[$list.id]}</td>
				<td>{$list.sort}</td>
				<td>{$list.note}</td>
				<td><button  class="menu_mod" tid="{$list.id}"/>编辑</button>
				<button  class="del_menu" tid="{$list.id}"/>删除</button></td>
		</tr>
		{/foreach}
		{/if}
	</table>
</div>

 
{include file='footer.htm'}