{include file="header.htm"}
<div class="fourvar">
	<div class="pathvar">
				 您的位置：<a href="index.php?mod=content&act=contentModify">评价模板</a>&nbsp;&gt;&gt;&nbsp;修改评价模板
    </div>     
    </div>          
    <div class="main">
    <h1>修改评价模板</h1>	<form">
    <!-- form id="form" action="index.php?mod=content&act=update" method="post" onSubmit="return check()"-->
   		<table width="90%" border="0" cellpadding="0" cellspacing="0" >            <tr>                <td align="right" width="11%">模板内容：</td>                <td width="27%" align="left">                                  <textarea name="content" id="content" cols="50" rows="3" >{$content}</textarea>                  <span style="color:red;">*</span>                </td>            </tr>                             <tr>                <td colspan="4" align="center">                    <button name="button" type="submit" id="submit-btn" value="Modify" />提 交</button>                    <button name="button" type="button" id="bottom" value="history" onclick="location.href='index.php?mod=content&act=contentList'"/>返 回</button>                </td>            </tr>        </table>
    </form>
    </div>
    <div class="bottomvar"></div>
</div>
{include file="footer.htm"}
<script>var contentId 			= {$contentId};//var content_original	= {$content};
{literal}
function check(){		//alert(content_original);
    var content = $.trim($("#content").val()); 
	if(content == ''){
		alertify.error("亲,内容不能为空!");
		$("#content").focus();
		return false;
	}	
	return true;
}
$("#submit-btn").click(function(){			//alert(content_original);		var content = $.trim($("#content").val());	if(content == ''){		alertify.error("亲,模板内容不能为空!");		$("#content").focus();		return false;	}	//content_original = $.trim(content_original);	/*if (content_original == content) {				alertify.error("亲,内容未做任何修改!");		$("#content").focus();		return false;	}*/			$("#submit-btn").html("提交中,请稍候...");		if(confirm("确定要修改吗?")){		$.ajax({			type	: "POST",			dataType: "jsonp",			url		: 'json.php?mod=content&act=contentModify&jsonp=1',			data	: {"contentId":contentId,"content":content},			success	: function (msg){				if(msg.errCode==0){					alertify.success("亲,修改成功,2秒后跳转到首页！"); 					window.setTimeout(window.location.href = "index.php?mod=content&act=contentList",2000);				}else{					$("#submit-btn").html("提 交");					alertify.error(msg.errMsg); 				}							}		});	}		})	{/literal}	

</script>