{include file="header.html"}
<script type="text/javascript" src="./js/paypalEmaili.js"></script>
<link href="css/page.css" rel="stylesheet" type="text/css" />
{include file='omNav.html'}

<div class="servar">
    <span>  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="successLog" style="color: #0F0">{$successLog}</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="errorLog" style="color: #F00">{$errorLog}</span>
    </span>
</div>
<div class="mail">
    <form style="margin-top:20px" name="addemails" id="addemails" action="json.php?act=addPaypalEmail&mod=paypalEmail" method="post" style="text-align:center;margin:auto">
	   批量添加邮箱(两个邮箱请以半角逗号分隔):<textarea style="width:200px; height:50px;" type="text" name="emailnames" id="emailnames" /></textarea>&nbsp;&nbsp;&nbsp;
	   <select name="ebay_accounts[]" id="ebay_accounts" multiple="multiple" size="10">
			{foreach from=$lists key=key_id item=list}
				<option value="{$list.id}">{$list.account}</option>
			{/foreach}
	   </select><br><br>
	   <button type="button" >提交</button>
	</form>
</div>
{include file="footer.html"}