{include file='header.htm'}
{include file='omNav.htm'}
<!--
 * 订单操作日志查询  orderOperationLogList.htm
 * ADD BY chenwei 2013.9.9
-->
<script type="text/javascript" src="./js/orderOperationLogList.js"></script>
<div class="servar">
    <form name="orderOperationLogFrom" id="orderOperationLogFrom" action="index.php?mod=orderOperationLog&act=orderOperationLogList" method="post" onsubmit="return checkOrder()">     
        <span style="font-size:24px; color:#F00">订单编号：</span>             
        <input id="omOrderId" name="omOrderId" type="text" style="width:150px;height:30px; font-size:24px;" value="{$omOrderId}" class="validate[required] text-input" />
        &nbsp;&nbsp;
        <!--<span style="font-size:24px; color:#F00">时间段：</span> 
        <select name="orderLogTime" id="orderLogTime" style="width:180px;height:35px; font-size:18px;" class="validate[required] text-input">
            {foreach key = keyChoose from=$tabelNameArr item=chooseList}
            <option {if $isSerch == $chooseList}selected="selected"{/if} value="{$chooseList}" >{$chooseList|replace:"om_order_log_":""}</option>
            {/foreach}
    	</select>-->
        &nbsp;&nbsp;
		<button style="height:35px; font-size:18px;" type="submit">查询</button>
	</form>     
</div>     
<div class="main">
	<table cellspacing="0" width="100%">
        <tr class="title">
            <td>订单编号</td>
            <td>原始状态</td>
            <td>修改状态</td>
            <td>影响语句</td>
            <td>操作备注</td>
            <td>修改时间</td>
            <td>操作人</td>
            <td>所属仓库</td>
        </tr>
		{foreach key = keyId from=$orderOperationLogArr item=list}
        <tr class="odd">
            <td>{$list.omOrderId}</td>
            <td>{$list.oldStatus}</td>
            <td>{$list.newStatus}</td>
            <td>{$list.sql}</td>
            <td>{$list.note}</td>
            <td>{$list.createdTime|date_format:"%Y-%m-%d %H:%M:%S"}</td>
            <td>{$list.operatorId}</td>
            <td>{$list.storeId}</td>
        </tr>
        {foreachelse}
		<tr >
				<td colspan="8">暂无移动日志！</td>
		</tr>
		{/foreach}	
    </table>
</div>      
{include file='footer.htm'}