{include file="header.htm"}
<div class="fourvar">
            	<div class="pathvar">                	
                    您的位置：<a href="index.php?mod=partnerType&act=index">供应商类型管理</a>>>添加类型
                </div>     
            </div>
            
            <div class="main underline-main">
             <table width="75%" border="0" cellpadding="0" cellspacing="0" >                        
                <tr>
                  <td>类型名称</td>
                  <td><input name="category_name" type="text" id="category_name" value="{$category_name}"></td>                          
                </tr> 			
                <tr>
                  <td><input name="addPartner" type="button" value="添加" id="button_submit"></td>
                  <td colspan="3">&nbsp;</td>
                </tr>
              </table>                      
              
            </div>
            <div class="bottomvar">
            </div>            

{include file="footer.htm"}

<script>
var web_api = "{$WEB_API}";
{literal} 
$('#button_submit').click(function(e){
    e.preventDefault();    
	var category_name   = $.trim($('#category_name').val());    
    if(category_name == '') {
        alertify.alert('类型不能为空！');
        return false;
    }
      
    var url  = "json.php?mod=partnerType&act=addPartnerType";
    var data = { "category_name":category_name};
    $.post(url, data, function(rtn){        
        console.log(rtn);
        window.location.href = "index.php?mod=partnerType&act=index";  
		/*
        if(rtn.errCode == 0) {   
             window.location.href = "index.php?mod=partnerType&act=index";  
        } else {
            alertify.alert(rtn.errMsg); 
        }            
		*/
     },"json");
});

{/literal}
</script>

            
