<div class="fourvar">
            	<div class="pathvar">
                	您的位置：<a href="#">首页</a>>><a href="#">二级导航</a>>><a href="#">订单管理</a>
                </div>
                <div class="texvar">
                    <input name="" type="text" size="3" />
                    <a href="#" class="enter">GO</a>
                </div>
                <div class="pagination">
                	<ul>
                    	<li>
                        	<a href="#">上一页</a>
                        </li>
                        <li>
                        	<a href="#">1</a>
                        </li>
                        <li>
                        	<a href="#">2</a>
                        </li>
                        <li>
                        	<a href="#">3</a>
                        </li>
                        <li>
                        	<a href="#">下一页</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="servar">
            	<span>
                	产品类型：<input name="" type="text" />
                </span>
                <span>
                	产品名：<select name="">
                    			<option>
                                	全部类型
                                </option>
                    	   </select>
                </span>
                <span>
                	订单类型：<select name="">
                    			<option>
                                	全部类型
                                </option>
                    	   </select>
                </span>
                <span>
                	开始时间：<input name="" type="text" />
                </span>
                <span>
                	关键字：<input name="" type="text" />
                </span>
                <span>
                	<a href="#">搜 索</a>
                </span>
            </div>
            <div class="main underline-main">
            	<table cellspacing="0" width="100%">
                	<tr class="title">
                    	<th>
                        	
                        </th>
                        <th>
                        	序号
                        </th>
                        <th>
                        	公司名称
                        </th>
                        <th>
                        	意向产品
                        </th>
                        <th>
                        	内容描述
                        </th>
                        <th>
                        	订单金额
                        </th>
                        <th>
                        	入库时间
                        </th>
                        <th>
                        	出库时间
                        </th>
                        <th>
                        	周期
                        </th>
                        <th>
                        	状态
                        </th>
                        <th>
                        	产品类型
                        </th>
                        <th>
                        	操作
                        </th>
                    </tr>
                    <tr>
                    	<td>
                        	<input name="" type="checkbox" value="" />
                        </td>
                        <td>
                        	1
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	<a href="#">编辑</a>/<a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                    	<td>
                        	<input name="" type="checkbox" value="" />
                        </td>
                        <td>
                        	1
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	<a href="#">编辑</a>/<a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                    	<td>
                        	<input name="" type="checkbox" value="" />
                        </td>
                        <td>
                        	1
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	<a href="#">编辑</a>/<a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                    	<td>
                        	<input name="" type="checkbox" value="" />
                        </td>
                        <td>
                        	1
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	<a href="#">编辑</a>/<a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                    	<td>
                        	<input name="" type="checkbox" value="" />
                        </td>
                        <td>
                        	1
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	<a href="#">编辑</a>/<a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                    	<td>
                        	<input name="" type="checkbox" value="" />
                        </td>
                        <td>
                        	1
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	<a href="#">编辑</a>/<a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                    	<td>
                        	<input name="" type="checkbox" value="" />
                        </td>
                        <td>
                        	1
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	<a href="#">编辑</a>/<a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                    	<td>
                        	<input name="" type="checkbox" value="" />
                        </td>
                        <td>
                        	1
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	<a href="#">编辑</a>/<a href="#">删除</a>
                        </td>
                    </tr>
                    <tr>
                    	<td>
                        	<input name="" type="checkbox" value="" />
                        </td>
                        <td>
                        	1
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	XXXXX
                        </td>
                        <td>
                        	<a href="#">编辑</a>/<a href="#">删除</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="bottomvar">
            	<div class="texvar">
                	<input name="" type="text" size="3" />
                	<a href="#" class="enter">GO</a>
            	</div>
            	<div class="pagination">
                	<ul>
                    	<li>
                        	<a href="#">上一页</a>
                    	</li>
                    	<li>
                        	<a href="#">1</a>
                    	</li>
                    	<li>
                        	<a href="#">2</a>
                    	</li>
                    	<li>
                        	<a href="#">3</a>
                    	</li>
                    	<li>
                        	<a href="#">下一页</a>
                    	</li>
                	</ul>
            	</div>
            </div>