{include file="header.htm"}
<ol class="breadcrumb">
  <li><a href="#">采购系统</a></li>
  <li><a href="#">预警管理</a></li>
  <li class="active">海外仓超卖控制</li>
</ol>
<div class="well well-lg" style="clear:both">
	<div class="row">
		<div class="col-md-4">
			<input name="" type="text" id="keyword" {if $smarty.get.keyword} value="{$smarty.get.keyword}" {/if}  class="form-control"/>
		</div>   

		<div class="col-md-2">
			<select id="type"  class="form-control">
					<option value='-1'>请选择类型</option>
					<option value='sku' {if $smarty.get.type == "sku" }selected="selected"{/if}>料号子SKU</option>
					<option value='spu' {if $smarty.get.type == "spu" }selected="selected"{/if}>主料号</option>
					<option value= "goodsName" {if $smarty.get.type == "goodsName" }selected="selected"{/if}>产品名称</option>
			</select>
		</div>
		<div class="col-md-2">
			 <select id="flag"  class="form-control">
				<option value='-1'>选择状态</option> 
				<option value='1' {if $smarty.get.status == "1" } selected{/if}>海外仓在线</option> 
				<option value='2' {if $smarty.get.status == "2" } selected{/if}>海外仓暂时停售</option> 
				<option value='3' {if $smarty.get.status == "3" } selected{/if}>海外仓停售</option> 
			</select>
		</div>
		<div class="col-md-2">
			<select id="pid"  class="form-control flexselect">
				<option value='-1'>请选择供应商</option>
				{foreach  item=list from=$partnerList } 
				<option value="{$list['partnerId']}" {if $smarty.get.pid == $list['partnerId'] }selected="selected"{/if}>{$list['companyname']}</option>
				{/foreach} 
			</select>
		</div> 
		<div class="col-md-2">
			<select id="pcid" class="form-control flexselect">
				<option value="-1" selected>请选择采购员</option> 
				{foreach item=list from=$purchaseList}
				<option value="{$list['global_user_id']}" {if $smarty.get.pcid eq $list['global_user_id']} selected="selected"{elseif $smarty.session.sysUserId eq $list['global_user_id'] && $smarty.get.pcid=="" }selected="selected"{/if}>{$list["global_user_name"]}</option>
				{/foreach}
			</select> 
		</div> 
	</div>
	<div class="row" style="margin-top:10px">
		<div class="col-md-2">
			<select id="is_warn" class="form-control">
				<option value='-1' {if $smarty.get.is_warn == '-1' } selected{/if}>请选择是否预警</option> 
				<option value='1'  {if $smarty.get.is_warn == '1' } selected{/if}>预警货品信息</option> 
				<option value='1'  {if $smarty.get.is_warn == '2' } selected{/if}>all货品信息</option> 
			</select>
		</div>
		<div class="col-md-2">
			<select id="dailyNum" class="form-control">
				<option value='-1' {if $smarty.get.dailyNum == '-1' } selected{/if}>请选择销量顺序排列</option> 
				<option value='1' {if $smarty.get.dailyNum == '1' } selected{/if}>销量从高到低</option> 
				<option value='2' {if $smarty.get.dailyNum == '2' } selected{/if}>销量从低到高</option> 
			</select>
		</div>
		<div  class="col-xs-8">
			<div class="pull-right">
				<button type="button" class="btn btn-primary" id="search-btn" >搜索</button>
				<button type="button" class="btn btn-info" id="pl-stock-days" >批量到货天数</button>
				<button type="button" class="btn btn-info" id="pl-stock-sdays" >批量同一个供应商到货天数</button>
			</div>
		</div>
	</div>

	
</div>
<div class="main products-main reply-main warning-main pagemargin-main">
	<table  class="table table-striped">
		<tbody>
			<tr class="purchase-title title">
				<td>
					<input type="checkbox" name="inverse-check" id="inverse-check" />
				</td>
				<td>image</td>
				<td>SKU</td>
				<td>是否预警</td>
				<td>产品名称</td>
				<td>成本</td>
				<td>供应商</td>
				<td>海外仓实际库存</td>
				<td>B仓实际库存</td>
				<td>海运在途数量</td>
				<td>待发货</td>
				<td>虚拟库存</td>
				<td>缺货数量</td>
				<td>可用天数</td>
				<td>每天均量</td>
				<td>采购周期</td>
				<td>安全库存天数</td>
				<td>采购天数</td>
				<td>已订购</td>
				<td>建议采购数量</td>
				<td>重量</td>
				<td>在线状态</td>
				<td>采购</td>
				<td>离美国仓库上架还差多少天</td>
			</tr>
			{foreach item=list key=key from=$skuInfo name=foo}
			{$key=$key%6}
			<tr class="{$tableColor[$key]}">
				<td>
					{$recNum = ceil($list.purchasedays*$list.everyday_sale)-$list.booknums}
					<input type="checkbox" name="inverse" value="{$list.gsku}" data-rec="{if $recNum<0}0{else}{$recNum}{/if}"/>
				</td>
				<td>
					<a href="javascript:void(0)" id="imgb-{$list.gsku}" class="fancybox">
						<img src="" class="skuimg img-circle"  id="imgs-{$list.sku}"  width="40" height="40" data-spu="{$list.spu}" data-sku="{$list.gsku}">
			   		</a>
				</td>
		
				<td>
					<span class="font-16">{$list.gsku}</span>
				</td>
				<td
					{if $list.is_alert eq 1}<span style="color:red">是</span>{else}<span style="color:green">否</span>{/if}
				</td>
				<td>{$list.goodsName}</td>
				<td>
					{$list.goodsCost}
				</td>
				{$ptlist	= PurchaseOrderAct::getPartnerId($list.gsku)}
				<td>{$ptlist['companyname']}</td>
				<td style="color:green;font-weight:bold">
					{$list.count}		
				</td>
				<td>
					{$list.b_stock_cout}
				</td>
				<td>
					{$list.onWayCount}
				</td>
				<td style="color:red;font-weight:bold">{$list.salensend}</td>
				<td style="color:red;font-weight:bold">
					{$list.virtual_stock}
				</td>
				<td>
				</td>
				<td >
					{ceil($list.virtual_stock/$list.everyday_sale)}
				</td>
				<td style="color:blue;font-weight:bold">
					{$list.everyday_sale}
				</td>
				<td>{$list.cycle_days}</td>
				<td>{$list.safeStockDays}</td>
				<td>{$list.purchasedays}</td>
				<td style="color:blue;font-weight:bold">{$list.booknums}</td>
				<td>{if $recNum<=0}0{else}{$recNum}{/if}</td>
				<td>{$list.goodsWeight}</td>
				<td>{if $list.oversea_status==1}在线{else if $list.oversea_status==2}海外仓暂时停售{else if $list.oversea_status==3}海外仓停售{else}在线{/if}</td>
				<td>{$list.OverSeaSkuCharger}</td>
				<td><textarea id="reach-{$list.gsku}" value="{$list.reach_days}">{$list.reach_days}</textarea></td>
			</tr>
			{/foreach}

		</tbody>
	</table>
<div>
<div class="bottomvar">
<div class="pagination">
	{$pageStr}
</div>
</div>


<input type="hidden" value="{$_userid}" id="userid" />

{include file="footer.htm"}



<div id="pl-days-layer" class="modal fade" tabindex="-1" data-width="600" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">批量更新安全库存天数、采购周期、采购天数...</h4>
  </div>
  <div class="modal-body">
    <div class="row">
		<div class="col-md-4">
			<h4>安全库存天数:</h4>
			<p><input class="form-control" type="text" id="safetystockdays"></p>
		</div>
		<div class="col-md-4">
			<h4>采购周期：</h4>
			<p><input class="form-control" type="text" id="cycle_days"></p>
		</div>
		<div class="col-md-4">
			<h4>采购天数：</h4>
			<p><input class="form-control" type="text" id="purchasedays"></p>
		</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" id="changeDays-close">Close</button>
    <button type="button" class="btn btn-primary" id="save-changeDays">保存</button>
  </div>
</div>


<div id="days-setting-layer" class="modal fade" tabindex="-1" data-width="600" style="display: none;">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">全局设置同一个数值的，一般是同一个供应商...</h4>
  </div>
  <div class="modal-body">
    <div class="row">
		<div class="col-md-12">
			<h4>离到货上架还有多少天:</h4>
			<p><input class="form-control" type="text" id="samedays" value=""></p>
		</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-default" id="setting-close">Close</button>
    <button type="button" class="btn btn-primary" id="save-setting">保存</button>
  </div>
</div>



<script>
var totalNum = {$totalPageNum};
</script>
{literal}
<script type="text/javascript">



function showAlert(content,callback){
	$('#alert-content').html(content);
	$('#alert-layer').modal();
}

$("#pl-stock-sdays").click(function(){
	$("#days-setting-layer").modal();
});

$("#save-setting").click(function(){
		var onseadays,skuArr=[],url;
		onseadays = $.trim($("#samedays").val());
		skuArr = getSkuList();
		url  = "json.php?mod=Sku&act=changeOwSkuReachDays";
		if(skuArr.length == 0){
			alertify.error("hi,请勾选要填的料号。。。。。。。。。。。");
			return;
		}
		if(onseadays == "" ){
			alertify.error("hi,这些参数应该要填点有效数值的。。。。。。。。。。。");
			return;
		}else{
			$.post(url,{"skuArr":skuArr,"samedays":onseadays,"type":"same"},function(rtn){
				if(!($.inArray(0,rtn) > -1)){
					alertify.alert("更新成功");
					window.location.reload();
				}else{
					showAlert("更新失败。。。。");
				}

			},"json");
		}
});

$("#pl-days").click(function(){
	var skuArr;
	skuArr = getSkuList();
	if(skuArr.length == 0){
		showAlert("请选择要批量更新天数的sku..........");
		return;
	}
	$("#pl-days-layer").modal();
});

$("#save-changeDays").click(function(){
	var skuArr,safetystockdays,cycle_days,purchasedays,url = "json.php?mod=Sku&act=changeOwdays";
	skuArr = getSkuList();
	safetystockdays = $.trim($("#safetystockdays").val());
	cycle_days = $.trim($("#cycle_days").val());
	purchasedays = $.trim($("#purchasedays").val());
	$.post(url,{"skuArr":skuArr,"safetystockdays":safetystockdays,"cycle_days":cycle_days,"purchasedays":purchasedays},function(rtn){
		console.log(rtn);
		$("#changeDays-close").trigger("click");
		$.each(rtn,function(i,item){
			if(item == 1){
				alertify.success("更新成功");
			}else{
				alertify.error("更新失败");
			}
		});
	},"json");
});




//搜索入口	
function search(){
	var type,keyword,pid,pcid,is_warn,flag,url,dailyNum,bookNum;
	url		= "index.php?mod=productStockalarm&act=owOutStock";
	keyword	= encodeURIComponent($.trim($("#keyword").val()));
	type	= $.trim($("#type").val());
	pid		= $.trim($("#pid").val());
	pcid  	= $.trim($("#pcid").val());
	flag  	= $.trim($("#flag").val());
	is_warn = $.trim($("#is_warn").val());
	dailyNum = $.trim($("#dailyNum").val());
	if($("#bookNum").attr("checked") == "checked"){
		bookNum = $("#bookNum").val();
	}
	console.log(bookNum);
	if( keyword != ''){
		url += "&keyword="+keyword;
	}
	if(type != -1){
		url += "&type="+type;
	}
	if(flag != -1){
		url += "&status="+flag;
	}
	if(pid != -1){
		url += "&pid="+pid;
	}
	if(is_warn != -1){
		url += "&is_warn="+is_warn;
	}
	if(pcid !=-1){
		url += "&pcid="+pcid;
	}
	if(dailyNum != -1){
		url += "&dailyNum="+dailyNum;
	}
	if(bookNum != undefined){
		url += "&bookNum="+bookNum;
	}

	window.location.href = url;
}

$("#search-btn").click(function() {
	search();
});


function getCookie(name){
	var value=(document.cookie.match(new RegExp('(^' + name + '| ' + name + ')=([^;]*)')) == null)?'':RegExp.$2;
	if(value!=''){
		return decodeURIComponent(value);
	}
	return '';
}

function setCookie(name,value,hours){
	var expire = "; path=/";
	if(hours != null) {
		expire = new Date((new Date()).getTime() + hours * 3600000);
		expire = "; expires=" + expire.toGMTString() + "; path=/";
	}
	document.cookie = name + "=" + escape(value)+';domain=;'+expire;
}

//全选入口
$("#inverse-check").click(function(){
	select_all("inverse-check","input[name='inverse']",0);
});


$("#pl-partner").click(function(){
		var skulist,partner={},url; 
		skulist = getSkuList();
	    url  = "json.php?mod=purchaseOrder&act=updatePartner";
		if(skulist.length == 0){
			showAlert("please 选择需要更新供应商的sku。。。。");
		}else{
			$("#pl-partner-layer").modal();

		}
});

$("#save-partner").click(function(){
	var newPartner = $("#updatePartner").val();
	if(newPartner == -1){
		$("#updatePartner").parent().addClass("has-error");
		return;
	}else{
	    var url  = "json.php?mod=purchaseOrder&act=updatePartner";
		var partner ={};
		var skulist = getSkuList();
		partner.partnerId = $("#updatePartner").val();
		partner.partnerName =$("#updatePartner").find("option:selected").text();
		$.post(url,{"skulist":skulist,"partner":partner},function(rtn){
			//console.log(rtn);
			alertify.alert('批量更新供应商成功。。。',function(){
				window.location.reload();
			});
		});
	}
});

			


function getSkuList(){
	var skuArr , skulist = [];
	var skuArr 	= $('input[name="inverse"]:checked');
	if(skuArr.length != 0){
		$.each(skuArr ,function(i,item){
			var sku = $(item).val();
			skulist.push(sku);
		});
	}
	return skulist;
}


$("#pl-stock-days").click(function(){
	var skuArr 	= $('input[name="inverse"]:checked'),skulist=[];
	if(skuArr.length == 0){
		showAlert('请选择需更新可能到货的料号。。。');
		return false;
	}else{
		$.each(skuArr ,function(i,item){
			var skuObj = {},number;
			skuObj.sku = $(item).val();
			number = $.trim($("#reach-"+skuObj.sku).val());
			skuObj.reach_days = number;
			//skuObj.rec = $(item).data("rec"); //建议采购数量
			//skuObj.price = $(item).data("price");
			//skuObj.cguserId = $(item).data("cguserid");
			//skuObj.cguser = $(item).data("cguser");
			skulist.push(skuObj);
		});
	}
	var url  = "json.php?mod=Sku&act=changeOwSkuReachDays";
	$.post(url,{"skulist":skulist},function(rtn){
		if(!($.inArray(0,rtn) > -1)){
			//alertify.alert("更新成功");
			window.location.reload();
		}else{
			showAlert("更新失败。。。。");
		}
		console.log(rtn);
	},'json');
});


window.onkeyup = function(e) {
	if(e.keyCode == 13) {
		search();
	}
}

</script>

{/literal}
