{include file="header.htm"}
			<div class="fourvar">
            	<div class="pathvar">
                	您的位置：<a href="#">采购管理</a>&nbsp;>>&nbsp;{$title}
                 </div>
				<div class="pagination">
                	{$pageStr}
            	</div>
			</div>
                <div class="servar products-servar">
            	<span>
					<select id="type">
                    	<option value='0'>请选择搜索条件</option>
						<option value='recordnumber'{if ($type=='recordnumber')} selected="selected"{/if}>订单号</option>
						<option value='record_num'{if ($type=='record_num')} selected="selected"{/if}>交易号</option>
						<option value='username'{if ($type=='username')} selected="selected"{/if}>采购员</option>
                    </select>
                </span>
				<span>
                	<input type="text" id="key" value = "{$key}"/>
                </span>
                <span>
					<select id="times">
						<option value='0'>请选择时间节点</option>
						<option value='pay_time'{if ($timeNode == 'pay_time')} selected="selected"{/if}>付款时间</option>
					</select>
                </span>
                <span>
                	开始时间：<input type="text" id="start-date" onclick="WdatePicker()"  value = "{$startTimeValue}"/>
                </span>
				<span>
                	结束时间：<input type="text" id="end-date" onclick="WdatePicker()"  value = "{$endTimeValue}"/>
                </span>
                <span>
                	<a href="javascript:void(0);" id="search">搜 索</a>
                </span>
				
            </div>
            <div class="main underline-main">
            	<table cellspacing="0" width="100%">
                	<tr class="title">
						<!--<th><input  type="checkbox" id="inverse-check"/></th>-->
						<th>公司名</th>
						<th>订单号</th>
						<th>支付方式</th>
						<th>采购员</th>
						<th>交易号</th>
						<th>操作人</th>
						<th>付款时间</th>
						<th>备注</th>
						<!--<th>操<br/>作</th>-->
					</tr>
					{foreach item=list from=$lists}
					<tr>
						<!--<td><input name="checkbox" type="checkbox" value="{$list.id}" /></td>-->
						<td>{$list.company}</td>
						<td>{$list.recordnumber}</td>
						<td>{$list.paymethod}</td>
						<td>{$list.username}</td>
						<td>{$list.record_num}</td>
						{$operator = PaymentRecordAct::actUserDetail("{$list.operator_id}")}
						<td>{if empty($operator)}暂无{else}{$operator}{/if}</td>
						<td>{if empty($list.pay_time)}no{else}{date('Y-m-d H:i',$list.pay_time)}{/if}</td>
						<td>{$list.note}</td>
						<!--<td></td>-->
					</tr>
					{/foreach}
					
					

                </table>
            </div>
            <div class="bottomvar">
            	<div class="pagination">
                	{$pageStr}
            	</div>
            </div>
{include file="footer.htm"}
<script type="text/javascript">
var web_api = "{$smarty.const.WEB_API}";

//搜索入口
$("#search").click(function(){
	nowtime	= {time()*1000};
	type  = $.trim($("#type").val());
	key   = encodeURIComponent($.trim($("#key").val()));
	stat  = $.trim($("#status").val());
	times = $.trim($("#times").val());
	start_time = $.trim($("#start-date").val());
	end_time   = $.trim($("#end-date").val());
	timestr	   = "";
	if($("#key").val()!='' && $("#type").val()!='0'){
			if(times!='0'){
				if(start_time=="" || end_time==""){
				alertify.alert('开始日期或截至日期不能为空');
				return false;
				}
				var starttime = new Date(start_time);
				var endtime	  = new Date(end_time);
				//alertify.alert(nowtime+'---'+starttime.getTime()+'---'+endtime.getTime());
				if(starttime.getTime()>endtime.getTime() || starttime.getTime()>nowtime || endtime.getTime()>nowtime){
					alertify.alert('开始日期不能大于截至日期,且开始日期或截至日期不能大于今天');
					return false;
				}
				if(start_time!='' && end_time !=''){
					timestr = "&timenode="+times+"&starttime="+start_time+"&endtime="+end_time;
				}
			}
			window.location.href = "index.php?mod=paymentRecord&act=index&type="+type+"&key="+key+"&status="+stat+timestr;
		}else if(times!='0'){
			if(start_time=="" || end_time==""){
				alertify.alert('开始日期或截至日期不能为空');
				return false;
			}
			var starttime = new Date(start_time);
			var endtime	  = new Date(end_time);
			//alertify.alert(nowtime+'---'+starttime.getTime()+'---'+endtime.getTime());
			if(starttime.getTime()>endtime.getTime() || starttime.getTime()>nowtime || endtime.getTime()>nowtime){
				alertify.alert('开始日期不能大于截至日期,且开始日期或截至日期不能大于今天');
				return false;
			}
				
			if(start_time!='' && end_time !=''){
				timestr = "&timenode="+times+"&starttime="+start_time+"&endtime="+end_time;
			}
			window.location.href = "index.php?mod=paymentRecord&act=index&status="+stat+timestr;
		}else{
			window.location.href = "index.php?mod=paymentRecord&act=index";
		}
});

//全选反选入口
$('#inverse-check').click(function(){
  select_all('inverse-check','input[name="checkbox"]',0);
});
</script>