{include file="header.htm"}
<!-- 
/*
 * IQC检测类型添加页面 detectionTypeAdd.htm
 * ADD BY 陈伟 2013.8.3
 */
-->
<div class="fourvar">
	{include file="iqcnav.htm"}               
</div>
<br />
<br />
<br />
<br />
<script type="text/javascript" src="./js/skuTypeQc.js"></script>
<div align="center" class="main" >
    <form action='index.php?mod=sampleStandard&act=detectionTypeAddSubmit' method="post" id="skuTypeQcAddForm">
    	<table>
        <tr>
        	<td align="left">
                <label for="typeNameInput" style="font-size:20px;">检测类别名称：</label>
            </td>
        	<td align="left">   
                <input value="" id='typeNameInput' class="mf validate[required] text-input" name="typeNameInput" type="text" style="width:200px;height:20px;font-size:20px">
                <span style="color:#F00;">*</span>
        	</td>
        <tr>
        <tr>
        	<td colspan="2" align="center">
            <button  id='detectionTypeAddSubmit' value="" />提交</button>
            &nbsp;
            <input type="button"  id='detectionTypeReturnPage' value="取消" class="input_button" />
            </td>
        </tr>
        </table>
    </form>
</div>
{include file="footer.htm"}