{include file="header.htm"}
<div class="fourvar">
	<div class="pathvar">
		您的位置：<a href="index.php?mod=carrierOpen&act=index">开放运输方式管理</a>&nbsp;>>&nbsp;{$title}
	 </div>
	<div class="pagination">
		{$pageStr}
	</div>
</div>
<div class="servar">
	<span>
		<select name="carrierId" id="carrierId">
			<option value=0>==全部运输方式==</option>
			{foreach item=list from=$carrierList}
			{if !$list.is_track }<option value="{$list.id}" {if $carrierId == $list.id}selected="selected"{/if}>{$list.carrierNameCn}</option>{/if}
			{/foreach}
		</select>
	</span>
	<span>
		<select id="type">
			<option value='0'>请选择搜索条件</option>
			<option value='carrierAbb'{if ($type=='carrierAbb')} selected="selected"{/if}>	简称</option>
			<option value='carrierEn'{if ($type=='carrierEn')} selected="selected"{/if}>英文名称</option>
			<option value='carrierIndex'{if ($type=='carrierIndex')} selected="selected"{/if}>字母索引</option>
		</select>
	</span>
	<span>
		<input type="text" id="key" value = "{$key}"/>
	</span>
	<span>
		<a href="javascript:void(0);" id="search">搜 索</a>
	</span>
	<span>
		<a href="index.php?mod=carrierOpen&act=add">添加</a>
	</span>
</div>
<div class="main">
	<table cellspacing="0" width="100%">
		<tr class="title purchase-title">
			<th>发货地</th>
			<th>运输方式名</th>
			<th>简称</th>
			<th>英文名称</th>
			<th>字母索引</th>
			<th>原价后折扣</th>
			<th>时效描述</th>
			<th>备注</th>
			<th>创建时间</th>
			<th>操作</th>
		</tr>
		{foreach item=list from=$lists}
		<tr>
			<td>{$list.addressNameCn}</td>
			<td>{$list.carrierNameCn}</td>
			<td>{$list.carrierAbb}</td>
			<td>{$list.carrierEn}</td>
			<td>{$list.carrierIndex}</td>
			<td>{if empty($list.carrierDiscount)}不限{else}{$list.carrierDiscount}{/if}</td>
			<td>{if empty($list.carrierAging)}暂无{else}{$list.carrierAging}{/if}</td>
			<td>{if empty($list.carrierNote)}暂无{else}{$list.carrierNote}{/if}</td>
			<td>{if empty($list.addTime)}暂无{else}{date('Y-m-d H:i:s',$list.addTime)}{/if}</td>
			<td><a href="index.php?mod=carrierOpen&act=modify&id={$list.id}"><b>编辑</b></a> | <a href="javascript:void(0)" onclick="del_info({$list.id})"><b>删除</b></a></td>
		</tr>
		{/foreach}
	</table>
</div>
<div class="bottomvar">
	<div class="pagination">
		{$pageStr}
	</div>
</div>
<script type="text/javascript" src="./public/js/carrier_open.js"></script>
{include file="footer.htm"}