{include file="header.htm"}
<div class="fourvar">
	<div class="pathvar">
		您的位置：<a href="index.php?mod=carrierManage&act=index">运输方式管理</a>&nbsp;>>&nbsp;<a href="index.php?mod=channelManage&act=index&id={$carrierId}">渠道管理</a>&nbsp;>>&nbsp;<a href="index.php?mod=channelPrice&act=index&chid={$chid}&chname={$chname}">渠道运费管理</a>&nbsp;>>&nbsp;{$title}
	 </div>
</div>
<div class="main">
    <h1>修改运费价目表</h1>
    <form onSubmit="return check()">
        <table width="90%" border="0" cellpadding="0" cellspacing="0" >
			<tr>
                <td align="right" width="11%">分组名称：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_group" id="pr_group" value="{$pr_group}" maxlength="20"/>
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">包裹运输费(SGD/KG)：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_kilo" id="pr_kilo" value="{$pr_kilo}" maxlength="20" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
					&nbsp;&nbsp;没有请输入0代替
				</td>
			</tr>
			<tr>
                <td align="right" width="11%">包裹处理费(SGD/个)：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_handlefee" id="pr_handlefee" value="{$pr_handlefee}" maxlength="10" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
					&nbsp;&nbsp;没有请输入0代替
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">目的地派送费(SGD/KG)：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_kilo_next" id="pr_kilo_next" value="{$pr_kilo_next}" maxlength="20" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
					&nbsp;&nbsp;没有请输入0代替
				</td>
			</tr>
			<tr>
                <td align="right" width="11%">中港运输费(RMB/KG):<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_isfile" id="pr_isfile" value="{$pr_isfile}" maxlength="10" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
					&nbsp;&nbsp;没有请输入0代替
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">空运费(HKD/KG):<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_air" id="pr_air" value="{$pr_air}" maxlength="10" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
					&nbsp;&nbsp;没有请输入0代替
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">其它费:<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_other" id="pr_other" value="{$pr_other}" maxlength="10" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
					&nbsp;&nbsp;没有请输入0代替
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">折扣：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_discount" id="pr_discount" value="{$pr_discount}" maxlength="10" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
					&nbsp;&nbsp;没有请输入0代替
                </td>
			</tr>

			<tr>
                <td align="right" width="11%">国家列表：</td>
                <td width="27%" align="left">
					<textarea name="pr_country" id="pr_country" rows=10 style="width:460px">{$pr_country}</textarea>
					<br/>多个国家请用英文逗号隔开
				</td>
			</tr>
			<tr>
                <td colspan="2" align="center">
					<input type="hidden" id="chname" value="{$chname}"/>
					<input type="hidden" id="act-id" value="{$id}"/>
                    <button name="button" type="submit" id="submit-btn" value="submit" />提 交</button>
                    <button name="button" type="button" id="history" value="history" onclick="location.href='index.php?mod=channelPrice&act=index&chname={$chname}&chid={$chid}'"/>返 回</button>
                </td>
            </tr>
		</table>
	</form>
</div>
{literal}
<script type="text/javascript">
function check(){
	var pr_group = pr_country = pr_kilo = pr_kilo_next = pr_discount = pr_isfile = pr_air = pr_other = pr_handlefee = chname = id = "";
	id 		 = $.trim($("#act-id").val());
	chname 	 = $.trim($("#chname").val());
	pr_group = $.trim($("#pr_group").val());
	pr_country	= $.trim($("#pr_country").val());
	pr_kilo	 	= $.trim($("#pr_kilo").val());
	pr_kilo_next= $.trim($("#pr_kilo_next").val());
	pr_discount	= $.trim($("#pr_discount").val());
	pr_handlefee= $.trim($("#pr_handlefee").val());
	pr_isfile	= $.trim($("#pr_isfile").val());
	pr_air		= $.trim($("#pr_air").val());
	pr_other	= $.trim($("#pr_other").val());
	if (chname == "" || chname == 0) {
		alertify.error("渠道非法！");
		return false;
	}
	if (pr_group == "") {
		alertify.error("分组名称不能不选！");
		$("#pr_group").focus();
		return false;
	}
	if (pr_kilo == "") {
		alertify.error("包裹运输费不能为空！");
		$("#pr_kilo").focus();
		return false;
	}
	if (pr_handlefee == "") {
		alertify.error("包裹处理费不能为空！");
		$("#pr_handlefee").focus();
		return false;
	}
	if (pr_kilo_next == "") {
		alertify.error("目的地派送费不能为空！");
		$("#pr_kilo_next").focus();
		return false;
	}
	if (pr_isfile == "") {
		alertify.error("中港运输费不能为空");
		$("#pr_isfile").focus();
		return false;
	}
	if (pr_air == "") {
		alertify.error("空运费不能为空");
		$("#pr_air").focus();
		return false;
	}
	if (pr_other == "") {
		alertify.error("其它费不能为空");
		$("#pr_other").focus();
		return false;
	}
	if (pr_discount == "") {
		alertify.error("折扣不能为空！");
		$("#pr_discount").focus();
		return false;
	}
	if (pr_country == "") {
		alertify.error("国家不能为空！");
		$("#pr_country").focus();
		return false;
	}
	var url  = web_url + "json.php?mod=channelPrice&act=updateChannelPrice";
	var data = {"id":id,"chname":chname,"pr_group":pr_group,"pr_kilo":pr_kilo,"pr_kilo_next":pr_kilo_next,"pr_discount":pr_discount,"pr_handlefee":pr_handlefee,"pr_isfile":pr_isfile,"pr_air":pr_air,"pr_other":pr_other,"pr_country":pr_country};
	$.post(url,data,function(res){
		if(res.errCode == 0){
			alertify.alert("修改成功！",function(){
				window.location.reload();
			});
		}else {
			 alertify.error(res.errMsg);
		   }
	}, "jsonp");
	return false;
}
</script>
{/literal}
{include file="footer.htm"}