{include file="header.htm"}
<div class="fourvar">
	<div class="pathvar">
		您的位置：<a href="index.php?mod=carrierManage&act=index">运输方式管理</a>&nbsp;>>&nbsp;<a href="index.php?mod=channelManage&act=index&id={$carrierId}">渠道管理</a>&nbsp;>>&nbsp;<a href="index.php?mod=channelPrice&act=index&chid={$chid}&chname={$chname}">渠道运费管理</a>&nbsp;>>&nbsp;{$title}
	 </div>
</div>
<div class="main">
    <h1>修改运费价目表</h1>
    <form onSubmit="return check()">
        <table width="90%" border="0" cellpadding="0" cellspacing="0" >
			<tr>
                <td align="right" width="11%">燃油附加费：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_discount" id="pr_discount" value="{$pr_discount}" maxlength="20" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
					&nbsp;&nbsp;没有请输入0代替
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">运费类型：<span class="red">*</span></td>
                <td width="27%" align="left">
					<select name="pr_handlefee" id="pr_handlefee">
						<option value="">=请选择运费类型=</option>
						<option value="economica" {if $pr_handlefee=='economica'}selected="selected"{/if}>经济型</option>
						<option value="prior" {if $pr_handlefee=='prior'}selected="selected"{/if}>优先型</option>
					</select>
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">重量区间:<span class="red">*</span></td>
                <td width="27%" align="left">
					<textarea name="pr_kilo_next" id="pr_kilo_next" rows=3 style="width:560px">{$pr_kilo_next}</textarea>
				</td>
			</tr>
			<tr>
                <td align="right" width="11%">重量区间运费:<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_kilo" id="pr_kilo" value="{$pr_kilo}" maxlength="20" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
				</td>
			</tr>
			<tr>
                <td align="right" width="11%">国家列表：<span class="red">*</span></td>
                <td width="27%" align="left">
					<textarea name="pr_country" id="pr_country" rows=10 style="width:560px">{$pr_country}</textarea>
					<br/>多个国家用逗号隔开
				</td>
			</tr>
			<tr>
                <td colspan="2" align="center">
					<input type="hidden" id="chname" value="{$chname}"/>
					<input type="hidden" id="act-id" value="{$id}"/>
                    <button name="button" type="submit" id="submit-btn" value="submit" />提 交</button>
                    <button name="button" type="button" id="history" value="history" onclick="location.href='index.php?mod=channelPrice&act=index&chname={$chname}&chid={$chid}'"/>返 回</button>
                </td>
            </tr>
		</table>
	</form>
</div>
{literal}
<script type="text/javascript">
function check(){
	var pr_kilo_next = pr_kilo = pr_discount = pr_country = pr_handlefee = chname = id = "";
	id 		 = $.trim($("#act-id").val());
	chname 	 = $.trim($("#chname").val());
	pr_kilo_next = $.trim($("#pr_kilo_next").val());
	pr_kilo	 = $.trim($("#pr_kilo").val());
	pr_discount	= $.trim($("#pr_discount").val());
	pr_country	= $.trim($("#pr_country").val());
	pr_handlefee= $.trim($("#pr_handlefee").val());
	if (chname == "" || chname == 0) {
		alertify.error("渠道非法！");
		return false;
	}
	if (pr_discount == "") {
		alertify.error("燃油附加费不能为空！");
		$("#pr_discount").focus();
		return false;
	}
	if (pr_handlefee == "") {
		alertify.error("运费类型不能不选！");
		$("#pr_handlefee").focus();
		return false;
	}
	if (pr_kilo_next == "") {
		alertify.error("重量区间不能为空！");
		$("#pr_kilo_next").focus();
		return false;
	}
	if (pr_kilo == "") {
		alertify.error("重量区间运费不能为空！");
		$("#pr_kilo").focus();
		return false;
	}
	if (pr_country == "") {
		alertify.error("国家列表不能为空！");
		$("#pr_country").focus();
		return false;
	}
	var url  = web_url + "json.php?mod=channelPrice&act=updateChannelPrice";
	var data = {"id":id,"chname":chname,"pr_kilo_next":pr_kilo_next,"pr_kilo":pr_kilo,"pr_discount":pr_discount,"pr_country":pr_country,"pr_handlefee":pr_handlefee};
	$.post(url,data,function(res){
		if(res.errCode == 0){
			alertify.alert("修改成功！",function(){
				window.location.reload();
			});
		}else {
			 alertify.error(res.errMsg);
		   }
	}, "jsonp");
	return false;
}
</script>
{/literal}
{include file="footer.htm"}