{include file="header.htm"}
<div class="fourvar">
	<div class="pathvar">
		您的位置：<a href="index.php?mod=carrierManage&act=index">运输方式管理</a>&nbsp;>>&nbsp;<a href="index.php?mod=channelManage&act=index&id={$carrierId}">渠道管理</a>&nbsp;>>&nbsp;<a href="index.php?mod=channelPrice&act=index&chid={$chid}&chname={$chname}">渠道运费管理</a>&nbsp;>>&nbsp;{$title}
	 </div>
</div>
<div class="main">
    <h1>添加运费价目表</h1>
    <form onSubmit="return check()">
        <table width="90%" border="0" cellpadding="0" cellspacing="0" >
			<tr>
                <td align="right" width="11%">区域名称：<span class="red">*</span></td>
                <td width="27%" align="left">
					<select name="pr_group" id="pr_group">
					<option value="">=请选择=</option>
					{foreach item=list from=$countrylist}
					<option value="{$list.id}" {if $pr_group == $list.id}selected="selected"{/if}>{$list.countryName}</option>
					{/foreach}
					</select>
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">首重(KG)：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_isfile" id="pr_isfile" value="" maxlength="10" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">首重价格(RMB)：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_kilo" id="pr_kilo" value="" maxlength="10" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">续重价格(RMB)：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_kilo_next" id="pr_kilo_next" value="" maxlength="10" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">多少KG内不计首重价格：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_file" id="pr_file" value="0" maxlength="10" style="ime-mode:Disabled" onkeyup="check_int(this)" onafterpaste="check_int(this)" />
					&nbsp;&nbsp;没有请输入0代替
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">折扣：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_discount" id="pr_discount" value="0" maxlength="10" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
					&nbsp;&nbsp;没有请输入0代替
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">手续费：<span class="red">*</span></td>
                <td width="27%" align="left">
					<input type="text" name="pr_handlefee" id="pr_handlefee" value="0" maxlength="10" style="ime-mode:Disabled" onkeyup="check_float(this)" onafterpaste="check_float(this)" />
					&nbsp;&nbsp;没有请输入0代替
                </td>
			</tr>			
			<tr>
                <td colspan="2" align="center">
					<input type="hidden" id="chname" value="{$chname}"/>
                    <button name="button" type="submit" id="submit-btn" value="submit" />提 交</button>
                    <button name="button" type="button" id="history" value="history" onclick="location.href='index.php?mod=channelPrice&act=index&chname={$chname}&chid={$chid}'"/>返 回</button>
                </td>
            </tr>
		</table>
	</form>
</div>
{literal}
<script type="text/javascript">
function check(){
	var pr_group = pr_kilo = pr_kilo_next = pr_discount = pr_isfile = pr_file = pr_handlefee = chname = "";
	chname 	 = $.trim($("#chname").val());
	pr_group = $.trim($("#pr_group").val());
	pr_kilo	 = $.trim($("#pr_kilo").val());
	pr_kilo_next= $.trim($("#pr_kilo_next").val());
	pr_discount	= $.trim($("#pr_discount").val());
	pr_isfile	= $.trim($("#pr_isfile").val());
	pr_file		= $.trim($("#pr_file").val());
	pr_handlefee= $.trim($("#pr_handlefee").val());
	if (chname == "" || chname == 0) {
		alertify.error("渠道非法！");
		return false;
	}
	if (pr_group == "") {
		alertify.error("区域名称不能不选！");
		$("#pr_group").focus();
		return false;
	}
	if (pr_isfile == "") {
		alertify.error("首重不能为空！");
		$("#pr_isfile").focus();
		return false;
	}	
	if (pr_kilo == "") {
		alertify.error("首重价格不能为空！");
		$("#pr_kilo").focus();
		return false;
	}
	if (pr_kilo_next == "") {
		alertify.error("续重价格不能为空！");
		$("#pr_kilo_next").focus();
		return false;
	}
	if (pr_file == "") {
		alertify.error("不计首重价格不能为空");
		$("#pr_file").focus();
		return false;
	}
	if (pr_discount == "") {
		alertify.error("折扣不能为空！");
		$("#pr_discount").focus();
		return false;
	}
	if (pr_handlefee == "") {
		alertify.error("手续费不能为空！");
		$("#pr_handlefee").focus();
		return false;
	}	
	var url  = web_url + "json.php?mod=channelPrice&act=addChannelPrice";
	var data = {"chname":chname,"pr_group":pr_group,"pr_kilo":pr_kilo,"pr_kilo_next":pr_kilo_next,"pr_discount":pr_discount,"pr_isfile":pr_isfile,"pr_handlefee":pr_handlefee,"pr_file":pr_file};
	$.post(url,data,function(res){
		if(res.errCode == 0){
			alertify.alert("添加成功！",function(){
				window.location.reload();
			});
		}else {
			 alertify.error(res.errMsg);
		   }
	}, "jsonp");
	return false;
}
</script>
{/literal}
{include file="footer.htm"}