{include file="header.htm"}
<div class="fourvar">
	<div class="pathvar">
		您的位置：<a href="index.php?mod=countriesShip&act=index">运输方式国家列表管理</a>&nbsp;>>&nbsp;{$title}
	 </div>
</div>
<div class="main">
    <h1>添加运输方式国家</h1>
    <form onSubmit="return check()">
        <table width="90%" border="0" cellpadding="0" cellspacing="0" >
            <tr>
                <td align="right" width="11%">运输方式国家名：<span class="red">*</span></td>
                <td width="27%" align="left">
                  <input type="text" name="carrier_name" id="carrier_name" value="" maxlength="100"/>
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">标准国家英文名：<span class="red">*</span></td>
                <td width="27%" align="left">
					<select name="en_name" id="en_name">
					{foreach item=list from=$countries}
					<option value="{$list.countryNameEn}">{$list.countryNameEn}</option>
					{/foreach}
					</select>
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">运输方式：</td>
                <td width="27%" align="left">
				<select name="ship_id" id="ship_id">
				{foreach item=list from=$lists}
				<option value="{$list.id}">{$list.carrierNameCn}</option>
				{/foreach}
				</select>
                </td>
			</tr>
			<tr>
                <td colspan="2" align="center">
                    <button name="button" type="submit" id="submit-btn" value="submit" />提 交</button>
                    <button name="button" type="button" id="history" value="history" onclick="location.href='index.php?mod=countriesShip&act=index'"/>返 回</button>
                </td>
            </tr>
		</table>
	</form>
</div>
{literal}
<script type="text/javascript">
function check(){
	var carrier_name = $.trim($("#carrier_name").val());
	var en_name	= $.trim($("#en_name").val());
	var ship_id	= $.trim($("#ship_id").val());
	if (carrier_name == "") {
		alertify.error("运输方式国家名称不能为空！");
		$("#carrier_name").focus();
		return false;
	}
	if (en_name == "") {
		alertify.error("标准国家英文名称不能为空！");
		$("#en_name").focus();
		return false;
	}
	var url  = web_url + "json.php?mod=countriesShip&act=addCountriesShip";
	var data = {"carrier_name":carrier_name,"en_name":en_name,"ship_id":ship_id};
	$.post(url,data,function(res){
		if (res.errCode == 0) {
			alertify.alert("添加成功！",function(){
				window.location.reload();
			});
		} else {
			alertify.error(res.errMsg);
		}
	}, "jsonp");
	return false;
}
</script>
{/literal}
{include file="footer.htm"}