{include file="header.htm"}
<div class="fourvar">
	<div class="pathvar">
		您的位置：<a href="index.php?mod=countriesSmall&act=index">小语种国家列表管理</a>&nbsp;>>&nbsp;{$title}
	 </div>
</div>
<div class="main">
    <h1>添加小语种国家</h1>
    <form onSubmit="return add_check()">
        <table width="90%" border="0" cellpadding="0" cellspacing="0" >
            <tr>
                <td align="right" width="11%">小语种国家名：<span class="red">*</span></td>
                <td width="27%" align="left">
                  <input type="text" name="small_name" id="small_name" value="" maxlength="100"/>
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">标准国家英文名：<span class="red">*</span></td>
                <td width="27%" align="left">
					<select name="en_name" id="en_name" class="flexselect">
					{foreach item=list from=$lists}
					<option value="{$list.countryNameEn}">{$list.countryNameEn}--{$list.countryNameCn}</option>
					{/foreach}
					</select>
                </td>
			</tr>
			<tr>
                <td align="right" width="11%">转换语种类型码：</td>
                <td width="27%" align="left">
				<select name = "code_name" id = "code_name">
				<option value = "1">1:西班牙转英文</option>
				<option value = "2">2:法国转英文</option>
				<option value = "3">3:德文转英文</option>
				<option value = "4">4:俄文转英文</option>
				<option value = "5">5:意大利文转英文</option>
				<option value = "6">6:拉丁文转英文</option>
				<option value = "7">7:阿拉伯文转英文</option>
				<option value = "8">8:日文转英文</option>
				<option value = "9">9:韩文转英文</option>
				<option value = "10">10:泰文转英文</option>
				<option value = "11">11:葡萄牙语转英文</option>
				</select>
                </td>
			</tr>
			<tr>
                <td colspan="2" align="center">
                    <button name="button" type="submit" id="submit-btn" value="submit" />提 交</button>
                    <button name="button" type="button" id="history" value="history" onclick="location.href='index.php?mod=countriesSmall&act=index'"/>返 回</button>
                </td>
            </tr>
		</table>
	</form>
</div>
<script type="text/javascript" src="./public/js/countries_small.js"></script>
{include file="footer.htm"}