{include file="header.htm"}
<div class="fourvar">
	<div class="pathvar">
		您的位置：<a href="index.php?mod=countriesSmall&act=index">小语种国家列表管理</a>&nbsp;>>&nbsp;{$title}
	 </div>
</div>
<div class="servar">
    <form onsubmit = "return file_upload()" action="index.php?mod=countriesSmall&act=batchCountriesSmallImport" enctype="multipart/form-data" method="post">
	<span>
		上传EXCELL文件:&nbsp;&nbsp;<input name="upfile" id="upfile" type="file"/>
	</span>
	<span>
		<input name="submit" type="submit" value="上传"/>&nbsp;&nbsp;<a href="temp/template/small_country_import_sample.xls" target="_blank"><font color="white">小语种导入模版下载</font></a>
	</span>
	</form>
</div>
<div class="main">
{if empty($errMsg) && $act == "batchCountriesSmallImport"}
<p style="line-height:180%;padding-left:10px;">
<font color=green>恭喜您，小语种信息导入成功！</font>
</p>
{elseif $act == "batchCountriesSmallImport"}
<p style="line-height:180%;padding-left:10px;">
<font color=red>温馨提示，以下小语种信息未导入成功！</font><br/>
{$errMsg}
</p>
{/if}
</div>
<script type="text/javascript" src="./public/js/countries_small.js"></script>
{include file="footer.htm"}