{include file="header.htm"}
<div class="fourvar">
	<div class="pathvar">
		您的位置：<a href="index.php?mod=shippingAddress&act=index">发货地址管理</a>&nbsp;>>&nbsp;{$title}
	 </div>
	<div class="pagination">
		{$pageStr}
	</div>
</div>
<div class="servar">
	<span>
		<select id="type">
			<option value='0'>请选择搜索条件</option>
			<option value='addressNameCn'{if ($type=='addressNameCn')} selected="selected"{/if}>发货地址中文名</option>
			<option value='addressNameEn'{if ($type=='addressNameEn')} selected="selected"{/if}>发货地址英文名</option>
		</select>
	</span>
	<span>
		<input type="text" id="key" value = "{$key}"/>
	</span>
	<span>
		<a href="javascript:void(0);" id="search">搜 索</a>
	</span>
	<span>
		<a href="index.php?mod=shippingAddress&act=add">添加</a>
	</span>
</div>
<div class="main">
	<table cellspacing="0" width="100%">
		<tr class="title purchase-title">
			<th>中文名称</th>
			<th>英文缩写</th>
			<th>发货地址代码</th>
			<th>大卖家</th>
			<th>添加时间</th>
			<th>操作</th>
		</tr>
		{foreach item=list from=$lists}
		<tr>
			<td>{$list.addressNameCn}</td>
			<td>{$list.addressNameEn}</td>
			<td>{if empty($list.addressCode)}暂无{else}{$list.addressCode}{/if}</td>
			<td>{$list.sellerName}</td>
			<td>{if empty($list.createdTime)}no{else}{date('Y-m-d H:i:s',$list.createdTime)}{/if}</td>
			<td><a href="index.php?mod=shippingAddress&act=modify&id={$list.id}"><b>编辑</b></a> | <a href="javascript:void(0)" onclick="del_info({$list.id})"><b>删除</b></a></td>
		</tr>
		{/foreach}
	</table>
</div>
<div class="bottomvar">
	<div class="pagination">
		{$pageStr}
	</div>
</div>
{literal}
<script type="text/javascript">
//搜索入口
$("#search").click(function(){
	type  = $.trim($("#type").val());
	key   = encodeURIComponent($.trim($("#key").val()));
	if (type!='0' && key!=''){
		window.location.href = "index.php?mod=shippingAddress&act=index&type="+type+"&key="+key;
	} else {
		alertify.error("搜索条件没选或搜索关键词不能为空！");
		return false;
	}
});
//删除入口
function del_info(id){
	var url  = web_url + "json.php?mod=shippingAddress&act=delShippingAddress";
	var data = {"id":id};
	alertify.confirm("真的要删除吗？", function (e) {
		if (e) {
			$.post(url,data,function(res){
				if(res.errCode == 0){
					alertify.alert("删除成功！",function(){
						window.location.reload();
					});
				}else {
					 alertify.error(res.errMsg);
				   }
			}, "jsonp");
		}
	});
}
</script>
{/literal}
{include file="footer.htm"}