{include file="header.htm"}
<div class="fourvar">
	<div class="pathvar">
		您的位置：<a href="index.php?mod=userCompetences&act=index">用户开放授权</a>&nbsp;>>&nbsp;{$title}
	 </div>
	<div class="pagination">
		{$pageStr}
	</div>
</div>
<div class="servar">
	<span>
		<select id="type">
			<option value='0'>请选择搜索条件</option>
			<option value='title'{if ($type=='title')} selected="selected"{/if}>权限描述</option>
			<option value='content'{if ($type=='content')} selected="selected"{/if}>授权内容</option>
		</select>
	</span>
	<span>
		<input type="text" id="key" value = "{$key}"/>
	</span>
	<span>
		<a href="javascript:void(0);" id="search">搜 索</a>
	</span>
	<span>
		<a href="index.php?mod=userCompetences&act=add">添加</a>
	</span>
</div>
<div class="main">
	<table cellspacing="0" width="100%">
		<tr class="title purchase-title">
			<th>权限描述</th>
			<th>授权键名</th>
			<th>键名内容</th>
			<th>添加时间</th>
			<th>操作</th>
		</tr>
		{foreach item=list from=$lists}
		<tr>
			<td align="left" style="padding-left:10px;"> 
            	<span>{section name=loop loop=$list.level start=1}|&nbsp;{/section}├</span>
                {$list.title}
            </td>
			<td>{$list.item}</td>
			<td>{$list.content}</td>
			<td>{if empty($list.addTime)}no{else}{date('Y-m-d H:i:s',$list.addTime)}{/if}</td>
			<td><a href="index.php?mod=userCompetences&act=modify&id={$list.id}"><b>编辑</b></a> | <a href="javascript:void(0)" onclick="del_info({$list.id})"><b>删除</b></a></td>
		</tr>
		{/foreach}
	</table>
</div>
<div class="bottomvar">
	<div class="pagination">
		{$pageStr}
	</div>
</div>
<script type="text/javascript" src="./public/js/tran_user_competences.js"></script>
{include file="footer.htm"}