{include file="header.htm"}
<div class="fourvar">
	<div class="pathvar">
		您的位置：<a href="index.php?mod=userCompetence&act=index">用户开放授权</a>&nbsp;>>&nbsp;{$title}
	 </div>
</div>
<div class="main">
    <h1>修改用户开放授权</h1>
    <form onSubmit="return edit_check()">
        <table width="90%" border="0" cellpadding="0" cellspacing="0" >
			<tr>
                <td align="right" width="11%">授权内容：</td>
                <td width="27%" align="left">
				<select name="competence" id="competence" multiple="multiple" size="10">
					{foreach item=list from=$lists}
					<option value="{$list.item}:{$list.content}" {if stripos($competence,$list.item)!==false}selected="selected"{/if}>{section name=loop loop=$list.level start=1}|&nbsp;{/section}├{$list.title}</option>
					{/foreach}
				</select>
                </td>
			</tr>
			<tr>
                <td colspan="2" align="center">
					<input type="hidden" name="gid" id="gid" value="{$id}"/>
                    <button name="button" type="submit" id="submit-btn" value="submit" />提 交</button>
                    <button name="button" type="button" id="history" value="history" onclick="location.href='index.php?mod=userCompetence&act=index'"/>返 回</button>
                </td>
            </tr>
		</table>
	</form>
</div>
<script type="text/javascript" src="./public/js/tran_user_competence.js"></script>
{include file="footer.htm"}