{include file='header.htm'}
{include file='crmNav.htm'}
<link type="text/css" rel="stylesheet" href="css/crmSystemList.css">
<script src="./js/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="./js/crmSystemList.js" type="text/javascript"></script>
<div class="fourvar">
    <div class="texvar">
    </div>
    <div class="pagination">
    {$show_page}
    </div>
</div>
<div class="fourvar order-fourvar">
	<form name="crmFrom" id="crmFrom" action="index.php?mod=crmSystem&act=crmSystemList" method="post">                   	
        <table>
            <tr>
                <td style="padding-left:17px;">
                    关键字:
                </td>
                <td style="padding-left:15px;">
                    <select name="keyWordsType">
                        <option value="clientname" {if $keyWordsType == clientname}selected="selected"{/if}>姓名/客户ID</option>
                        <option value="email" {if $keyWordsType == email}selected="selected"{/if}>邮件</option>
                        <option value="phone" {if $keyWordsType == phone}selected="selected"{/if}>客户电话</option>
                        <option value="country" {if $keyWordsType == country}selected="selected"{/if}>所在国家</option>
                        <option value="salesaccount" {if $keyWordsType == salesaccount}selected="selected"{/if}>销售账号</option>
                    </select>
                </td>
                <td style="padding-left:19px;">
                    <input type="text" value="{$keyWords}" name='keyWords' id='keyWords' />
                </td>
                <td style="padding-left:17px;">
                   排序:
                </td>
                <td style="padding-left:15px;">
                    <select name="sortType" id="sortType">
                        <option value="totalpayDesc" {if $sortType == totalpayDesc}selected="selected"{/if}>按总金额降序</option>
                        <option value="totalpayAsc" {if $sortType == totalpayAsc}selected="selected"{/if}>按总金额升序</option>
                        <option value="totaltimesDesc" {if $sortType == totaltimesDesc}selected="selected"{/if}>按购买次数额降序</option>
                        <option value="totaltimesAsc" {if $sortType == totaltimesAsc}selected="selected"{/if}>按购买次数额升序</option>
                    </select>
                </td>
                <td style="padding-left:17px;">
                    Account:
                </td>
                <td style="padding-left:15px;">
                    <select name="salesAccountList" id="salesAccountList">
                    	<option value="" {if $choose_status == 0} selected="selected"{/if} >未设置</option>
                        {foreach key = keyChoose from=$invoiceNameArr item=chooseList}
                        <option {if $choose_status == $keyChoose} selected="selected"{/if} value="{$keyChoose}" >{$chooseList}</option>
                        {/foreach}
                    </select>
                </td>
                <td style="padding-left:17px;">
                    平台:
                </td>
                <td style="padding-left:15px;">
                    <select name="platformList" id="platformList">
                    	<option value="" {if $choose_status == 0} selected="selected"{/if} >未设置</option>
                        {foreach key = keyChoose from=$invoiceNameArr item=chooseList}
                        <option {if $choose_status == $keyChoose} selected="selected"{/if} value="{$keyChoose}" >{$chooseList}</option>
                        {/foreach}
                    </select>
                </td>
                <td style="padding-left:15px;">
                    <button class="btn" type="submit">查找</button>
                    <button class="btn" id="exportExcelButton" type="button" />xls导出</button>
                    <!-- 老erp系统无此功能
                    <button class="btn" id="exportExcelButton" type="button" />邮箱txt格式下载</button>
                    -->
                </td>
            </tr>
        </table>
     </form>
</div>
            <div class="main">
            	<table cellspacing="0" width="100%">
                	<tr class="title">
                   		<td><input onclick="chooseornot(this)" type="checkbox"/></td>
                        <td>ID</td>
						<td>姓名/客户ID</td>
                        <td>邮件</td>
                        <td>客户电话</td>
                        <td>所在国家</td>
                        <td>总购买金额</td>
                        <td>总购买次数</td>
                        <td>销售账号</td>
                        <td>平台</td>
                        <td>最新购买时间</td>
                    </tr>
					{foreach key = key_id from=$crmListArr item=list}
                    <tr class="odd">
                    	<td><input class="checkclass" id="orderids" name="orderids" type="checkbox" value="{$list.id}"></td>
                        <td>{$list.id}</td>
						<td>{$list.clientname}</td>
                        <td>{$list.email}</td>
                        <td>{$list.phone}</td>
                        <td>{$list.country}</td>
                        <td>{$list.totalpay}</td>
                        <td>{$list.totaltimes}</td>
                        <td>{$list.salesaccount}</td>
                        <td>{$list.platform}</td>
                        <td>{if empty($list.lastbuytime)} {else}{$list.lastbuytime|date_format:"%Y-%m-%d %H:%M:%S"}{/if}</td>
                    </tr>  
                    {/foreach}       
                </table>
            </div>
            <div class="bottomvar">
            	<div class="texvar">
            	</div>
            	<div class="pagination">
                	{$show_page}
            	</div>
            </div>
{include file="footer.htm"}


