<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$toptitle}--客户管理系统</title>

<link href="http://misc.erp.valsun.cn/css/style.css" rel="stylesheet" type="text/css" />
<link href="http://misc.erp.valsun.cn/css/page.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="./js/jquery/css/ui-lightness/jquery-ui-1.9.2.custom.min.css" />
<link rel="stylesheet" media="all" href="./js/jquery/css/ui-lightness/jquery-ui-timepicker-addon.css" />
<link rel="stylesheet" href="./css/alertify/alertify.core.css" />
<link rel="stylesheet" href="./css/alertify/alertify.default.css" />
<link rel="stylesheet" href="./css/flexselect.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css" href="./css/validationEngine/validationEngine.jquery.css" />

<script type="text/javascript" src="./js/jquery/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery-ui.min.js"></script>

<script src="./js/validationEngine/languages/jquery.validationEngine-zh_CN.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/validationEngine/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" src="./js/alertify/alertify.min.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="./js/jquery/ui/jquery-ui-sliderAccess.js"></script>
<script type="text/javascript" src="./js/datetimepicker.js"></script>
<script type="text/javascript" src="./js/My97DatePicker/WdatePicker.js"></script>
</head>
<body id="toppage"  class="order-body">
	<div class="container container_wh">
    	<div class="content">
        	<div class="header">
            	<div class="logo">
                	客户管理系统
                </div>
                <div class="onevar">
                	<ul>
                    	<li>
                        	<a href="index.php?mod=crmSystem&act=crmSystemList" class="cental {if $toplevel === 0}cho{/if}">客户中心</a>
                        </li>                       
                    </ul>
                </div>
                <div class="user">
                	<a href="#">{$_username}</a>
                    <a href="index.php?mod=login&act=logout" style="background: none; font-size: 14px;">退出</a>
                </div>
            </div>
            <div class="twovar">
            	<ul>
					{if $toplevel == 0}						
                        <li>
                            <a href="index.php?mod=crmSystem&act=crmSystemList" >客户关系列表</a>
                        </li>				
					{/if}
                </ul>
            </div>