@charset "utf-8";
/* CSS Document */

.prompt-main{ text-align:center; padding-top:30px;}
.prompt-main .prompt-img{ background-image:url(../images/smile.png); background-repeat:no-repeat; height:128px; background-position:center center;}
.messagelist{
	width:350px; margin:0 auto; text-align:left; padding-left:90px;
}
.backlinkposition{
	width:350px;
	margin:0 auto;
	text-align:right;
}