<div class="twovar">
    <ul>
        <li>
            <a {if $sec_menue == 2}class="cho"{/if} href="index.php?mod=messageTemplate&act=showTemplateList">message模板管理</a>
        </li>
        <li>
            <a {if $sec_menue == 3}class="cho"{/if} href="index.php?mod=messageTemplate&act=showTemplateListAli">速卖通模板管理</a>
        </li>
        <li>
            <a {if $sec_menue == 4}class="cho"{/if} href="index.php?mod=messageTemplate&act=aliShipingTemplate">速卖通运输方式模板</a>
        </li>
        <li>
            <a {if $sec_menue == 5}class="cho"{/if} href="index.php?mod=messageTemplate&act=showEbayTplList">ebay售后邮件模板</a>
        </li>
         <li>
            <a {if $sec_menue == 6}class="cho"{/if} href="index.php?mod=amazonMessageTemplate&act=showTemplateListAmazon">Amazon模板管理</a>
        </li>
        <li>
            <a {if $sec_menue == 7}class="cho"{/if} href="index.php?mod=listingSendEmail&act=index">listing移除邮件推送管理</a>
        </li>
		<li>
            <a {if $sec_menue == 8}class="cho"{/if} href="index.php?mod=sendEbayCaseMail&act=deliverMailToBuyers">case安抚邮件</a>
        </li>   
    </ul>
</div>
