<div class="twovar">
    <ul>
        <li>
            <a href="index.php?mod=messageStatistics&act=messageStatistics" {if $sec_menue == 1}class="cho"{/if} >ebay message 报表</a>
        </li>
       	<li>
            <a href="index.php?mod=messageStatistics&act=messageStatisticsAli" {if $sec_menue == 2}class="cho"{/if} >速卖通报表</a>
        </li>
        <li>
            <a href="index.php?mod=amazonMessageStatistics&act=messageStatistics" {if $sec_menue == 3}class="cho"{/if} >Amazon message报表</a>
        </li>
    </ul>
</div>
