<div class="twovar">
    <ul>
        <li>
            <a {if $sec_menue == 3}class="cho"{/if} href="index.php?mod=messagefilter&act=getMessageListByConditions">ebay Message</a>
        </li>
        <li>
            <a {if $sec_menue == 4}class="cho"{/if} href="index.php?mod=messagefilter&act=getAliOrderList">速卖通 Message</a>
        </li>
        <li>
            <a {if $sec_menue == 5}class="cho"{/if} href="index.php?mod=amazonMessagefilter&act=getAmazonMessageListByConditions">Amazon Message</a>
        </li>
    </ul>
</div>
