<div class="twovar">
    <ul>
        <li>
            <a href="index.php?mod=msgCategory&act=categoryList" {if $sec_menue == 1}class="cho"{/if} >ebay message文件夹</a>
        </li>
        <li>
            <a href="index.php?mod=msgCategory&act=categoryListAli" {if $sec_menue == 2}class="cho"{/if} >速卖通文件夹</a>
        </li>
        <li>
            <a href="index.php?mod=msgCategoryAmazon&act=categoryListAmazon" {if $sec_menue == 3}class="cho"{/if} title="刚开始哦！" >Amazon文件夹</a>
        </li>
    </ul>
</div>
