<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/prompt.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="prompt-main">
	<div class="prompt-img">
    	
    </div>
    <div class="prompt-txt">
    	页面错误 可能是由下面原因造成的:
    </div>
	<div class="messagelist" >
		{foreach $messagelist as $itemval}
		<div>{$itemval@iteration}:{$itemval}</div>
		{/foreach}
	</div>
    <div class="prompt-button backlinkposition">
    	<a href="{$gobackurl}" style="text-decoration:none;">>>返回</a>
    </div>
</div>
</body>
</html>
