<div class="threevar">
    <ul>
        <li>
            <a href="index.php?mod=messagefilter&act=getMessageListByConditions" 
			class="{if $third_menue==1}cho{/if}">All message</a>
        </li>
        <li>
            <a href="index.php?mod=messagefilter&act=getMessageListByConditions&from=0"
			class="{if $third_menue==2}cho{/if}">From members</a>
        </li>
        <li>
            <a href="index.php?mod=messagefilter&act=getMessageListByConditions&from=2"
			class="{if $third_menue==3}cho{/if}">From ebay</a>
        </li>
        <li>
            <a href="index.php?mod=messagefilter&act=getMessageListByConditions&from=3"
			class="{if $third_menue==4}cho{/if}">High priority</a>
        </li>
    </ul>
</div>
