<!--
权限管理左侧列表
-->
<!DOCTYPE html>
<link rel="stylesheet" href="css/powerleftmenue.css">
<ul class="power_lf_menue">
    <li>
        <div style="border-top: #cccccc solid 1px; height: 48px;">
            <a href="index.php?mod=poweruser&act=list">用户管理</a>
        </div>
    </li>
    <li>
        <div>
            <a href="index.php?mod=powergroup&act=grouplist">权限组管理</a>
        </div>
    </li>
    <li>
        <div style="border-bottom: #cccccc solid 1px; height: 49px;">
            <a href="index.php?mod=power&act=powerlist">权限管理</a>
        </div>
    </li>

</ul>