	<div class="footer">
		<div class="link">
			<a class="about" href="pages-3.html">About Wedo</a>
			<a class="contact" href="pages-4.html">Contact Us</a>
			<a class="terms" href="pages-5.html">Terms of Use</a>
		</div>
		<div class="copyright">
			Copyright © Wedo Express {$version} 2014&nbsp;&nbsp;<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000364892'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000364892' type='text/javascript'%3E%3C/script%3E"));</script>
		</div>
	</div>
</div>
<div id="dialog-menu"><div id="dialog-content" style="position:relative;"></div></div>
<script type="text/javascript" src="http://misc.erp.valsun.cn/js/alertify.js"></script>
</body>
</html>
