{include file='header.htm'}
{include file='goodsoutnav.htm'}
<link href="css/common.css" rel="stylesheet" type="text/css" />
<script src="js/jSound.js"></script>
<script src="js/sounds.js"></script>
<script language="javascript" src="js/dispatchBillScan.js"></script>
<script type="text/javascript" src="./js/fancybox.js"></script>
<div class="main" style="min-height:500px">
    <div style="font-size:30px;margin:20px auto auto 60px">发货单号：<input type="text" id="billId" style="width:200px; height:35px;font-size:20px;"/></div>
    <div style="height:60px;font-size:24px;margin-left:60px" id="mstatus" >
    </div>
</div>

{include file='footer.htm'}