{include file='header.htm'}
{include file='whNav.htm'}
<script language="javascript" src="js/invOperate.js"></script>

<div class="servar wh-servar" align="center">
	<form action='index.php?mod=inventory&act=sureAddRea' method="post" id="reasonAddForm"> 
		<input type="hidden" name="reasonId" id="reasonId" value="{$reason[0].id}" /> 	
		<p>
			<label for="reasonName" style="font-size:20px;">盘点原因: </label>
			<input value="{$reason[0].reasonName}" class="mf validate[required] text-input" id="reasonName"  name="reasonName" type="text" style="width:200px;height:30px;font-size:20px">
			<span id="showCnMsg" style="color: red;"></span><span style="color:#F00;">*</span>
		</p>
		<br/>
		<p>
			<input type="submit" id="countriesAddFormSumit" class="input_button" value="提交">
			<input type="button" class="input_button" id='back' value="返回" />
		</p>
	</form>
</div>
{include file="footer.htm"}