<div class="threevar order-minwidth">
	<ul>
		<li>
			<a
				href="index.php?mod=owGoodsReplenishManage&act=showOrderList"
				class="{if $third==1}cho{/if}">备货单
			</a>
		</li>
		<li>
            <a
                href="index.php?mod=OwBoxManage&act=applyBox"
                class="{if $third==2}cho{/if}">申请箱号
            </a>
        </li>
        <li>
            <a
                href="index.php?mod=OwBoxManage&act=boxManage"
                class="{if $third==3}cho{/if}">箱号管理
            </a>
        </li>
        <li>
            <a
                href="index.php?mod=owGoodsReplenishManage&act=preOrderList"
                class="{if $third==4}cho{/if}">补货单管理
            </a>
        </li>
	</ul>
</div>