<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Print</title>
</head>
<body>
{$i = 1}
{foreach $orderList as $keys=>$ordersinfo}
{foreach $ordersinfo as $key=>$printArr}

<table border="0" cellpadding="0" cellspacing="0" style="border:1px dashed #999999; height:23mm; width:50mm;overflow: hidden;">
    <tr>
        <td valign="top">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
            	<tr>
                	<td align="center"><span align="left" style="font-size: 10px;float: left;">{$i++}/{$totalCount}</span><span style="font-size: 16px; font-weight: bold;">{$key}</span></td>
                </tr>
                <tr>
                	<td align="center" style="font-size: 10px; font-weight: bold;letter-spacing:8px ;">{$printArr.oppositeSku}&nbsp;</td>
                </tr>
                <tr>
                	<td align="center">
                	<div><img src="barcode128.class.php?data={$printArr.oppositeBarCode}"  width="170" height="30" /></div>
                	</td>
                </tr>
                <tr>
                	<td align="center" style="font-size: 10px; font-weight: bold;letter-spacing:8px ;">{$printArr.oppositeBarCode}&nbsp;</td>
                </tr>
                <tr>
                	<td align="center" style="font-size: 10px; font-weight: bold;letter-spacing:8px ;">{$printArr.recordNumber}</td>
                </tr>
			</table>
		</td>
	</tr>
</table>


<div style="page-break-after:always;height:0;"></div>
{/foreach}
{/foreach}
</body>
</html>

