{include file='header.htm'}
{include file='owNav.htm'}
{include file='goodsoutnav.htm'}
<link href="css/common.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="js/returnBox.js"></script>
<link href="css/getgoodsscan-css.css" rel="stylesheet" type="text/css" />
<link href="css/page.css" rel="stylesheet" type="text/css" />
<div style="padding-top:10px;">
    箱号:<input style="width:200px;height:40px;" id="boxid"><button onclick="returnBox()">退还</button>
</div>
<div id="showmsg"></div>
{include file='footer.htm'}