{include file='header.html'}
<link href="css/searchform.css" rel="stylesheet" type="text/css" />
{include file='whNav.html'}
<div class="searchformdiv">
    <form class="navbar-form pull-left">
        <input type="text" class="form-control " style="width: 390px;">
        <button type="submit" class="btn btn-default">搜 索</button>
        <div class="se_radiolist">
            <input type="radio" name="condition"><span>sku</span>
            <input type="radio" name="condition"><span>仓位</span>
            <input type="radio"  name="condition"><span>货品名称</span>
            <input type="radio" name="condition"><span>采购负责人</span>
        </div>

    </form>
    <div style="clear: both;"></div>
</div>
{include file='footer.html'}