{include file="header.htm"}
{include file='whNav.htm'}
<script type="text/javascript" src="./js/whAuditList.js"></script>
<br />
<br />
<br />
<br />
<div align="center" class="main" >
    <form action='index.php?mod=WhAudit&act=addAuditList' method="post" id="whAddAuditList" onsubmit="return editCheck();">
    	<div style="width:500px; margin:auto; text-align:left;">
        	<label for="invoiceTypeId" style="font-size:20px;">单据类型：</label>&nbsp;&nbsp;&nbsp;&nbsp;   
            <select name="invoiceTypeId" id="invoiceTypeId" style="width:205px;height:30px;font-size:20px" class="validate[required]">
             	<option value="">请选择</option>
                {foreach WhAuditModel::getTNameList('wh_invoice_type','id,invoiceName','') as $value}
                <option value="{$value.id}" >{$value.invoiceName}</option>
                {/foreach}
			 </select>
          <span id="invoiceTypeIdSpan" style="color: red;">*</span>
        </div> 
        <br />
        <div style="width:500px; margin:auto; text-align:left;">
            <label for="auditorName" style="font-size:20px;">审核人名：</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input value="{$auditorName}" id='auditorName' class="mf validate[required] text-input" name="auditorName" type="text" style="width:200px;height:30px;font-size:20px">
            <input type="hidden" id = "auditorId" name="auditorId" value="" />
            <span id="auditorNameSpan" style="color: red;">*</span>
		</div>
		<br />
        <div style="width:500px; margin:auto; text-align:left;">
            <label for="auditLevel" style="font-size:20px;">审核级别：</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input value="{$auditLevel}" id='auditLevel' class="validate[required,custom[integer],min[0]] text-input" name="auditLevel" type="text" style="width:200px;height:30px;font-size:20px">
            <span id="" style="color: red;">*</span>
		</div>
        <br />
        <div style="width:500px; margin:auto; text-align:left;">
        	<label for="storeId" style="font-size:20px;">仓库位置：</label>  &nbsp;&nbsp;&nbsp;
            <select name="storeId" id="storeId" style="width:205px;height:30px;font-size:20px" class="validate[required]">
                {foreach WhAuditModel::getTNameList('wh_store','id,whName','') as $value}
                <option value="{$value.id}" >{$value.whName}</option>
                {/foreach}
			 </select>
          <span id="storeIdSpan" style="color: red;">*</span>
		</div>
        <br />
        <div style="width:500px; margin:auto; text-align:left;">
            <label for="is_enable" style="font-size:20px;">是否启动：</label> &nbsp;&nbsp;&nbsp;
            <select name="is_enable" id="is_enable" style="width:205px;height:30px;font-size:20px" class="validate[required]">
                <option value="1" selected="selected">启用</option>
                <option value="2" >禁用</option>
	        </select>
            <span id="" style="color: red;">*</span>
		</div>
		<br/>
        <div style="width:500px; margin:auto; text-align:center">
            <input style="width:80px; height:30px; font-size:20px;" type="submit" value="提交"/>
            &nbsp;
            <input style="width:80px; height:30px; font-size:20px;" type="button"  id='back' value="返回"/>
        </div>
    </form>
</div>
{include file="footer.htm"}