<!--
 * 仓库报表导出管理--脚本总汇 whExportManage.htm
 * add by chenwei 2013.11.11
-->
{include file="header.htm"}
{include file='whNav.htm'}
<script language="javascript" src="js/bootstrap.min.js"></script>
<script src="./js/ui/jquery-ui-timepicker-addon.js"></script>
<script src="./js/ui/jquery-ui-sliderAccess.js"></script>
<script type="text/javascript" src="./js/whExportManage.js"></script>
	<div class="servar wh-servar" style="padding:14px;">
     <!--<a class="gdhref" href="index.php?mod=recheck&act=recheckForm">复核扫描(快递)</a> -->
		<a class="gdhref" href="index.php?mod=whKpiReport&act=index">kpi报表导出</a>
    </div>
<div class="servar wh-servar">
    <table cellspacing="0" width="100%">
      <tr>
        <td>
        	<span style="font-size:20px;">价格信息表导出:</span>
        </td>
      </tr>
      <tr>
      	<td>
        	<span>开始时间:</span>      
            <input name="start1" id="start1" class="datetime" type="text" value="{$start1}" />
            <span>结束时间:</span>
            <input name="end1" id="end1" class="datetime" type="text" value="{$end1}" />
            <input type="button" value="导出到xls" onclick="xlsbaobiao(1)" />
            <br />
            <br />
            <div id="mstatus1" style="font-size:14px"></div>
            <br />
        </td>
      </tr>

      <tr>
        <td>
        	<span style="font-size:20px;">组合料号价格信息表导出:</span>
        </td>
      </tr>
      <tr>
      	<td>
        	<span>开始时间:</span>
            <input name="start2" id="start2" class="datetime" type="text" value="{$start2}" />
            <span>结束时间:</span>
            <input name="end2" id="end2" class="datetime" type="text" value="{$end2}" />
            <input type="button" value="导出到xls" onclick="xlsbaobiao(2)" />
            <br />
            <br />
            <div id="mstatus2" style="font-size:14px"></div>
            <br />
        </td>
      </tr>
      
      <tr>
        <td>
        	<span style="font-size:20px;">重量报表导出:</span>
        </td>
      </tr>
      <tr>
      	<td>
        	<span>开始时间:</span>
            <input name="start3" id="start3" class="datetime" type="text" value="{$start3}" />
            <span>结束时间:</span>
            <input name="end3" id="end3" class="datetime" type="text" value="{$end3}" />
            <input type="button" value="导出到xls" onclick="xlsbaobiao(3)" />
            <br />
            <br />
            <div id="mstatus3" style="font-size:14px"></div>
            <br />
        </td>
      </tr>
<!--
      <tr>
        <td>
        	<span style="font-size:20px;">SKU盘点表导出:</span>
        </td>                        
      </tr>
      <tr>
      	<td>
        	<span>开始时间:</span>
            <input name="start2" id="start2" class="datetime" type="text" value="" />
            <span>结束时间:</span>
            <input name="end2" id="end2" class="datetime" type="text" value="" />
            <input type="button" value="导出到xls" onclick="xlsbaobiao(2)" />
            <br />
            <br />
            <div id="mstatus2" style="font-size:14px"></div>
            <br />
        </td>
      </tr>
                      
      <tr>
        <td>
        <span style="font-size:20px;">实时sku盘点表导出:</span>
        </td>                        
      </tr>
      <tr>
      	<td>
        	<span>开始时间:</span>
            <input name="start4" id="start4" class="datetime" type="text" value="" />
            <span>结束时间:</span>
            <input name="end4" id="end4" class="datetime" type="text" value="" />
            <input type="button" value="导出到xls" onclick="xlsbaobiao_ex()" />
            <br />
            <br />
            <div id="mstatus4" style="font-size:14px"></div>
            <br />
        </td>
      </tr>
-->
	</table>		
</div>
{include file="footer.htm"}